/*-------------------------------------------- Global Selectors -------------------------------------------------*/
/* puts img in background */
body{
    background-image: url("/assets/images/FamilyCamping-2021-GettyImages-948512452-2.webp");
    background-attachment: fixed;
    background-size: cover;
}

/* all these classes are are chosen to have the same effects */
.head, .top-head, .enjoy, .howTo, .back{
    font-family: 'Courier New', Courier, monospace;  
    color:rgb(223, 160, 108) ;
    animation: top-head 1s ease-in-out infinite alternate;
}
/* the head positioned properly at the top */
.head{
    margin-top: 50px;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* paragraph one is positioned right under the head */
.P-One{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
}
/* paragraph two is positioned right under the paragraph one */
.P-Two{
    font-size: 40px;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
}

/* ---------------------------------------------------------------------------The Glow Effect--------------------------------------------------------------------------------------- */
/* adds the glow effect to all the text in the page */
@-webkit-keyframes top-head {
    from {
      text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #fa218d, 0 0 70px #f82b92;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #d6bdca, 0 0 40px #f187bc, 0 0 50px #f878b8ab, 0 0 60px #fd6bb493, 0 0 70px #ff5cade0, 0 0 80px #fc58aa;
    }
  }
  /* positions the two mide information in the center of the page */
.mide-info{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
/* adds this three classes to have the same effects */
.howTo, .enjoy, .back{
    padding: 30px;
    color: #fff;
    background-color: #92858577;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
}
/* changes the font size and makes the h3 fit in the space it needs to  */
h3{
    font-size: 25px;
    margin-bottom: 10px;
}
/* changes the margin so it will fit the space it needs to */
p{
    margin-top: 10px;
}
/* adds style to the five star image so it will fit properly  */
.five{
    width: 150px;
    height: 65px;
}
/* moves the last bit of content to the center  */
 .last-info{
    margin-top: 100px;
    display: flex;
    justify-content: center;
   
 }
 /* adds the font-size to top P of the last info box */
 #top-last{
    font-size: 35px;
 }

/* adds font-size and margin to the bottom P in the last info box */
 #bottom-last{
    margin-top: 20px;
    font-size: 25px;
 }

 /* ----------------------------------------------------------------------------Go Back Button-------------------------------------------------------------------------------------------------------- */
 /* adds color and padding to the button  */
 .back{
    background-color: #e60073;
    padding: 10px;
    color: black;
 }

 /* adds the pointer and color when you hover the button  */
.back:hover{
    background-color: #d6bdca;
    cursor: pointer;
}

/* centers the button in the page */
 .go-back{
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }
 
