/*-------------------------------------------- Global Selectors -------------------------------------------------*/
/* Default font-family */
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body will contain below background color */
body {
    background: #ffbcb1;
}

/* Formats all code within <main></main>, ensures code is responsive */
main {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3 {
    font-size: 1.5em;
    color: black;
}

/* Aligns all text within the header class */
.header {
    color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

/* Formats the letters inside the <span></span> that are nested inside the h1 */
.header span {
    color:whitesmoke;
}

/*--------------------------------------------- Landing Page --------------------------------------------*/
/* Creates transparent background over the background image and displays viewheight of 100 to user */
.main-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(131, 122, 122);
    height: 100vh;
}

.main-content h1 {
    font-size: 40px;
    font-weight: bolder;
  }

/* The image lnked below is displayed as the background image */
.main-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.45;
    background-image: url('/assets/images/landingscreen.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*---------------------------------------------- Navigation Bar --------------------------------------------*/
/* Styles navbar logo */
nav img {
    width: 2%;
}

/* Navbars opaciy level */
.card {
    opacity: 0.3;
}

/* NavBars text opacity level */
.card-footer {
    opacity: 1;
    font-weight: bolder;
}

/*--------------------------------------------------- Main Content -------------------------------------------*/
/* Formats code within this container, ensures code within is responsive */
.panel {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px 25px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 40px 10px;
}

/* Styles and formats the two sections within the panel container */
.filter, .filterMap{
    display:flex;
    border-bottom: 1px solid #ffbcb1;
    border-radius: 6%;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 200ms ease-in-out;
}

.filter {
    flex-direction: column;
    flex-wrap: wrap;
}

/* Centers the text within the footer */
footer {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}
/*---------------------------------------------------- Buttons --------------------------------------------------*/
/* Styles the buttons used in the application, adds smooth transition when hovering over*/
.view-button, .start-button {
    background-color: whitesmoke;
    border: 0.5px solid rgb(85, 79, 79);
    border-radius: 10px;
    color: #918887;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}
 
.start-button {
    background-color: rgb(224, 207, 207);
    border: 0.5px solid #ffbcb1;
    color: #918887;
    font-weight: bolder;
}

/*----------------------------------------------------- Saved Sites -----------------------------------------------*/
/* Cleanly spaces and aligns the users saved sites */
.saved-sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 73%;
    height: 320px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.site-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

/* Styles the users saved sites, adds smooth transition when hovering over each individual site */
.site {
    align-items: center;
    background-color: whitesmoke;
    border: 3px solid #f0b59aaf;
    transition: transform 200ms;
    margin-right: 15px;
    border-radius: 5px;
    width: 175px;
}

.site-body{
    width: 100%;
    background-color: #d1fffd;
    padding: 10px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.site-body p{
    line-height: 1.15em;
    margin-bottom: 5px;
}

/* Styles and aligns saved-site icon */
.site-body button{
    border-radius: 5px;
    border: none;
    background-color: #198f68;
    padding: 8px 20px;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.2s;
}

/* Formats saved-site icon */
.site img {
    margin: 10px 30px;
    height: 100px;
    width: 100px;
}

/* Styles the plus icon to add a site */
.add-site{
    display: flex;
    background-color: whitesmoke;
    border:3px solid #f5b8b8af;;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.add-site img {
    width:90%;
}

/* Formats map */
#map {
    height: 500px;
}

/* Styles border of the below ID */
#new-site-form{
  outline: solid 1px rgba(150, 155, 150, 0.452);
  border-radius: 10px 10px 10px 10px; 
}

/* Added margin so it will fit properly */
.validateTips{
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Ensures content is centered and fits */
fieldset{
  display: flex; 
  flex-direction: column;
  align-items: center;
  outline: solid 1px rgba(11, 59, 11, 0.452);
  border-radius: 10px 10px 10px 10px;   
}

/* Formats spacing and margins of the following IDs */
#name, #lat, #lng { 
  margin-bottom: 10px;
  margin-top: 10px;
  width: calc(75%/1);
  outline: solid 1px rgba(11, 59, 11, 0.452);
}

/* Styles input boxes */
#filter-weather, #filter-location {
    background-color: whitesmoke;
    border: 0.5px solid rgb(85, 79, 79)
}

/* Changes background color of buttons when hovering over them */
.view-button:hover, .view-button:focus {
    background-color: #ffbcb1;
    color:whitesmoke;
    cursor: pointer;
}

/* Creates interaction with the user */
/* When hovering over each  section, the section will gain a border outline */
.filter:hover, .filterMap:hover {
    border: 3px solid #ffbcb1;
    transform: translateY(-0.25em);
}

.site:hover {
    border:3px solid #ffbcb1;
    transform: scale(1.05,1.05);
}

.add-site:hover, .add-site:focus{
    border:3px solid #ffbcb1;
}
.site-body button:hover{
    background-color: #117a57;
}

/*------------------------------------------------- Scroll Wheels ----------------------------------------------*/
#selected-sites{
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    background-color: #e1c3e725;
    border: 3px solid #f5b8b8af;
    border-radius: 10px;
}

/* styled the window scrollbar */
::-webkit-scrollbar{
    width: .9em;
}

::-webkit-scrollbar-track{
  background-color: #8d706c;
}

::-webkit-scrollbar-thumb{
    border: 3px solid #151515;
    border-radius: 100px;
    background: linear-gradient(rgb(243, 161, 161), rgba(206, 17, 17, 0.555));
}

/* Styles the scrollbar undernearth the users saved sites*/
#selected-sites::-webkit-scrollbar{
    width: .7em;
}

#selected-sites::-webkit-scrollbar-track{
    background: linear-gradient(rgba(243, 76, 76, 0.363), rgba(247, 137, 137, 0.555));
    border-radius: 100px;
}

#selected-sites::-webkit-scrollbar-thumb{
    background: linear-gradient(rgba(243, 76, 76, 0.363), rgba(247, 137, 137, 0.555));
    border-radius: 100px;
}

#selected-sites::-webkit-scrollbar-thumb:hover{
    background-color: rgba(145, 56, 56, 0.836);
   
}

#search-sites {
    margin-top: 60px;
    width: 275px;
    height: 30px;
    background-color: #e1c3e725;
    border: 3px solid #f5b8b8af;
    color: #918887;
    text-align: center;
}

#search-sites:hover, #search-sites:focus {
    background-color: whitesmoke;
    border: 3px solid #ffbcb1;
}
/*----------------------------------------------------- Media Query --------------------------------------------------*/
/* Once the users screen is 900px or greater, this code will run */
/* Changes the flex-direction of the panel class to rows from columns */
/* Adjusts the margins to format cleaner for larger screen dimensions */
@media (min-width: 900px) {
    .panel {
        max-width: 960px;
        flex-direction: row;
    }
    .filter {
        display: flex;
        flex-direction: column;
        border: 1px solid #ffbcb1;
        align-items: center;
        padding: 10px 20px;
        flex-wrap:wrap;
        margin-right: 10px;
    }
    .filterMap {
        border: 1px solid #ffbcb1;
        padding: 25px 50px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-wrap:wrap;
        margin-right: 10px;
    }
    #map {
        height: 500px;
        width: 1500px;
    }
    main {
        flex-direction: row;
        margin: 30px 50px;
    }
    .add-site {
        margin: 60px 0 0 30px;
    }
    .header {
        margin-top: 400px;
    }
    #search-sites {
        width: 1200px;
        height: 40px;
    }
    .saved-sites {
        margin-top: 20px;
        margin-left: 135px;
    }
}