/*----------------------------global selectors----------------------*/
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*gives the code/content within the body the below background color*/
body {
    background: #ffbcb1;
}

/*formats all code within <main></main>*/
main {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

h3 {
    font-size: 1.5em;
    color: black;
}

/*formats the letters inside the <span></span> that are nested inside the h1*/
.header {
    color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.header span {
    color:whitesmoke;
}

/*styles navbar logo*/
nav img {
    width: 2%;
}

/* added opacity to the card */
.card {
    opacity: 0.3;
  }
  
/*aligns the text within the footer to the center>*/
footer {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}

/*allows for the content within this class to be responsive due to the implementation of flexbox*/
.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 40px 200px;
}

.filter, .filterMap{
    display:flex;
    border-bottom: 1px solid #ffbcb1;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 200ms ease-in-out;
}

/*formats the buttons in the webpage*/
.view-button {
    background-color: white;
    border: 1px solid #ffbcb1;
    border-radius: 10px;
    color: #c18277;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.saved-sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 73%;
    margin-top: 60px;
}

/*formats saved-site icon*/
.saved-sites img {
    width:80%;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: transform 200ms;
    margin-right: 10px;
    border-radius: 5px;
    max-width: 175px;
}

.site-body{
    width: 100%;
    height: 100%;
    background-color: #dcdcdc;
    padding: 10px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.site-body p{
    line-height: 1.15em;
    margin-bottom: 5px;
}

.site-body button{
    border-radius: 5px;
    border: none;
    background-color: #198f68;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.site-body button:hover{
    background-color: #117a57;
}

.site img{
    height: 100px;
    width: 100px;
}


/*-----------------------------main-content formats the landing page background--------------------------*/
.main-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(131, 122, 122);
    height: 100vh;
}

.main-content h1 {
    font-size: 40px;
    font-weight: bolder;
  }

.main-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-image: url('/assets/images/landingscreen.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.add-site{
    display: flex;
    background-color: whitesmoke;
    border:3px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.add-site img {
    width:60%;
}

/*formats map*/
#map {
    height: 500px;
}
/* added border so it will look nice */
#new-site-form{
  outline: solid 1px rgba(150, 155, 150, 0.452);
  border-radius: 10px 10px 10px 10px; 
}
/* added margin so it will fit properly  */
.validateTips{
  margin-bottom: 20px;
  margin-top: 10px;
 
}
/* made the content fit properly in the middle */
fieldset{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  outline: solid 1px rgba(11, 59, 11, 0.452);
  border-radius: 10px 10px 10px 10px;   
}
/* added space between the top and bottom so it will look nicer  */
#name, #lat, #lng { 
  margin-bottom: 10px;
  margin-top: 10px;
  width: calc(75%/1);
  outline: solid 1px rgba(11, 59, 11, 0.452);
}

/*changes background color of buttons when hovering over them*/
.view-button:hover, .view-button:focus {
    background-color: #ffbcb1;
    cursor: pointer;
}

/*creates interaction with the user*/
/*when hovering over each  section, the section will gain a border outline*/
.filter:hover, .filterMap:hover {
    border: 3px solid #ffbcb1;
    transform: translateY(-0.25em);
}

.site:hover{
    border:3px solid #ffbcb1;
    transform: scale(1.1,1.1)
}

.add-site:hover{
    border:3px solid #ffbcb1;
}

/*---------------------------------------media query----------------------------------------*/
/*Once the users screen is 900px or greater, this code will run*/
/*Changes the flex-direction of the panel class to rows from columns*/
/*adjusts the margins to format cleaner for larger screen dimensions*/
@media (min-width: 900px) {
    .panel {
        flex-direction: row;
    }
    .filter {
        display: flex;
        flex-direction: column;
        border: 1px solid #ffbcb1;
        align-items: center;
        padding: 10px 20px;
        display: flex;
        flex-wrap:wrap;
        margin-right: 10px;
    }
    .filterMap {
        border: 1px solid #ffbcb1;
        padding: 25px 50px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-wrap:wrap;
        margin-right: 10px;
    }
    #map {
        height: 500px;
        width: 1500px;
    }
    main {
        flex-direction: column;
        margin: 30px 50px;
    }
    .saved-sites {
        flex-direction: row;
    }
}